<button class="btn btn-primary float-right jh-create-entity" (click)="addToEvent()">
    <fa-icon [icon]="'plus'"></fa-icon> <span>Przyłącz się ;)</span>
</button>
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">

            <dl class="row-md jh-entity-details">
                <dt><span>Nazwa inicjatywy</span></dt>
                <dd>{{event.title}}</dd>
                <dt><span>Opis inicjatywy</span></dt>
                <dd>{{event.description}}</dd>
                <dt><span>Organizator</span></dt>
                <dt><span>Ocena</span></dt>
                <dd>{{event.rating}}</dd>
                <dt><span>Data utworzenia</span></dt>
                <dd>{{event.createDate | date:'dd/MM/yy HH:mm'}}</dd>
                <dt><span>Data rozpoczęcia</span></dt>
                <dd>{{event.startDate | date:'dd/MM/yy HH:mm' }}</dd>
                <dt><span>Data zakończenia</span></dt>
                <dd>{{event.endDate | date:'dd/MM/yy HH:mm'}}</dd>
                <dt><span>Latitude</span></dt>
                <dd>{{event.latitude}}</dd>
                <dt><span>Longtitude</span></dt>
                <dd>{{event.longtitude}}</dd>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr *ngFor="let comment of event.comments">
                            <td><a [routerLink]="['./', comment.creator.login, 'view']">{{comment.creator.id}}</a></td>
                            <td>{{comment.creator.login}}</td>
                            <td>{{comment.creator.email}}</td>
                            <td>{{comment.content}}</td>
                            <td>{{comment.createDate | date:'dd/MM/yy HH:mm'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let authority of creator.authorities">
                            <span class="badge badge-info">{{authority}}</span>
                        </li>
                    </ul>
                </dd>
            </dl>
            <button type="submit"
                    class="btn btn-info"
                    (click)="previousState()">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>

